src/1Data-download/SpatialData/
src/1Data-download/Tables/
src/1Data-download/input_data.csv
src/1Data-download/Tables/
src/2Feed-geoprocessing/SpatialData/inputs/AdminBound/
src/2Feed-geoprocessing/SpatialData/inputs/Feed_DrySeason/DMP_2023/
src/2Feed-geoprocessing/SpatialData/inputs/ProtectedAreas/
src/2Feed-geoprocessing/SpatialData/inputs/TreeCover/
src/2Feed-geoprocessing/SpatialData/inputs/Feed_DrySeason/
src/2Feed-geoprocessing/SpatialData/inputs/Burned/
src/2Feed-geoprocessing/SpatialData/inputs/SPAM2020
src/3Balance-estimates/Nigeria/SpatialData/inputs/Feed_quantity/
src/2Feed-geoprocessing/SpatialData/inputs/SPAM2020/
src/3Balance-estimates/Nigeria/SpatialData/inputs/Cropping_days/
